pre{
  font-family:'Verdana',sans-serif;
  font-size:10px;
}
.rectangle{
  height:350px;
  width:300px;
  background-color: #a3cb36;
  position: absolute;
  left:750px;
  top:0px;
}
.rec1{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:340px;
}
.rec2{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:550px;
}
.rec3{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:755px;
}
.rec4{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:340px;
  top:1400px;
}
.rec5{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:550px;
  top:1400px;
}
.rec6{
  height:40px;
  width:25px;
  background-color: #a3cb36;
  position: absolute;
  left:755px;
  top:1400px;
}
.flex-cont {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    font-size: 20px;
    width:400px;
    height:200px;
    float:left;
  }
 .proud{
  margin: 0px;
  font-size: 50px;
  width:300px;
  height:300px;
  font-size: 30px;
  margin-right: 0px;
  background-color: #a3cb36;
  margin-left:auto;
 }
  footer{
    padding:3px;
    margin-right: 0;
    float: right;
    margin-bottom: 0;
  }
  #lt{
      background-color:#a3cb36;
      border-color:#a3cb36;
      border-radius: 3px;
      width:100px;
      height:30px;
      font-family:'Josefin Sans', sans-serif;
      color:white;
  }
  .SIDE_HUSTLE{
      color:#a3cb36;
  }
  .icon{
    width:auto;
    height: 3px;
  }
  .image01{
    display:flex;
     left: 790px;
     position: absolute;
     width:300px;
     height:300px;
     top:100px;
  }
  .hustle_images {
    display: flex;
    flex-wrap: wrap;
    padding:  4px;
    right:400px;
    float:right;
  }
  a{
    color:black;
    text-decoration: none;
  }
  .images_row {
    flex: 50%;
    padding: 0 4px;
  }

#work{
  font-size: 50px;
}
#sub{
 font-family: Sentic Display Bold;
}
#guitar{
  height: 300px;
}
#friends{
  height:250px;
}
#des{
  font-family: Sentic Display Bold;
  position: absolute;
     width:100px;
     top:100px;
     right: 250px;}
     .images_row {
      flex: 50%;
      padding: 0 4px;}
.para{
  height:200px;
  width:550px;
  padding: 10px;
}
.bio{
  float:left;
  display:flex;
  text-align:left;
  display: flex;
}
.project{
color:#a3cb36;
}
.SIDE_HUSTLE{
  font-size: 70px;
  font-family: Sentic Display Bold;
}